@import "./assets/styles/config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: $background_purple;
  background-image: $background_image;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: $secondary_purple;
  &.active {
    text-decoration: none;
    color: black;
  }
  &.hover {
    cursor: pointer;
  }
}

.Main {
  min-height: calc(100vh - 15rem - 15vh);

  @include mediaMd {
    min-height: calc(100vh - 20rem - 15vh);
  }
}
