@import "../../assets/styles/config";

.RichProductItem {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  height: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 33%;

  @include mediaLg {
    flex-flow: row nowrap;
    width: 90%;
  }
  @include mediaSm {
    flex-flow: column nowrap;
    height: 32%;
  }

  .RichProductText {
    height: 60%;
    padding: 0.5rem;
    width: 100%;

    @include mediaLg {
      width: 60%;
    }

    @include mediaSm {
      width: 100%;
    }

    .RichProductHeader {
      text-align: right;
      color: $secondary_purple;
      font-size: 1.5rem;
      border-bottom: $base_border;
    }

    .RichProductHeaderRevered {
      color: $secondary_purple;
      font-size: 1.5rem;
      border-bottom: $base_border;
    }

    p {
      margin: 0.5rem 0;
      color: $primary_text_color;
      font-size: 1rem;
      @include mediaMd {
        font-size: 0.8rem;
      }
    }
  }

  .RichProductImage {
    height: 40%;
    width: 100%;
    overflow: hidden;

    @include mediaLg {
      width: 40%;
      height: 100%;
    }

    @include mediaSm {
      width: 100%;
      height: 100%;
    }

    img {
      @include mediaLg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
