@import "../../assets/styles/config";

.Footer {
  height: 15rem;
  background-color: $footer_blue;
  background-image: $footer_image;
  width: 100%;

  @include mediaMd {
    height: 20rem;
  }

  .FooterTop {
    padding-top: 1rem;
    height: 85%;
    border-bottom: $base_border;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    @include mediaMd {
      height: 90%;
      padding-top: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .FooterTopSection {
      padding: 0 1rem;

      li.FooterLinks,
      li.FooterAddresses,
      .FooterContactInfo {
        list-style: none;
        text-align: left;
        color: $secondary_purple;
        margin-top: 1rem;
        @include mediaMd {
          font-size: 0.8rem;
          margin-top: 0.5rem;
          text-align: center;
        }
      }
    }

    .FooterLink {
      color: $secondary_purple;
    }
  }

  .FooterBottom {
    text-align: center;
    color: #fff;
    border-bottom: solid 4px $primary_purple;
    height: 15%;
    line-height: 2rem;
    @include mediaMd {
      height: 10%;
      font-size: 0.8rem;
    }
  }
}
