@import "../../assets/styles/config";

.CollectionOverview {
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  .CollectionOverviewHeader {
    width: 100%;
    border-bottom: $base_border;
    color: $secondary_purple;
  }

  .CollectionOverviewTop {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    @include mediaLg {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mediaMd {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaSm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .CollectionOverviewBottom {
    align-items: center;
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    .PaginationInfo {
      color: $secondary_purple;
    }
  }
}
