@import "../../assets/styles/config";

.MenuThumbnail {
  height: 260px;
  width: 200px;
  border: solid black 2px;
  overflow: hidden;
  z-index: 3;

  @include mediaMd {
    width: 100%;
    height: 4rem;
  }

  .ThumbnailText {
    color: #fff;
    height: 20%;
    width: 100%;
    border-bottom: solid black 1px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 3rem;
    @include mediaMd {
      height: 4rem;
      line-height: 4rem;
    }
  }
  .ThumbnailImage {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    @include mediaMd {
      display: none;
    }
  }
}

.MenuThumbnail:hover {
  .ThumbnailImage {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }
}
